<html>
	<head>
		<%- include('head'); -%>
	</head>
	<body class="text-center">
		<%- include('nav'); -%>
		<div class="container content-center">
			<h2 style="margin-top:4em" class="raleway"><%= user.firstName %></h2>
			<h3 class="raleway">(<%= user.username %>)</h3>
			<% if (typeof posts != undefined) { %>
				<button style="width:75%" type="button" id="posts-button" data-toggle="collapse" data-target="#posts" aria-expanded="false" aria-controls="posts">Posts</button><br>
                                <div id="posts" style="color:black;width:75%;margin: 0 auto" class="list-group shadow-sm p-1 rounded collapse">
                                        <% for(var i=posts.length - 1; i >= 0; i--) { %>
                                                <a style="color:grey;" href="/show-post/<%= posts[i]._id %>" class="list-group-item list-group-item-action"><%= posts[i].title %></a>
                                        <% } %>
                                </div>
                        <% } %>
			<% if (typeof messages != 'undefined') { %>
				<button style="width:75%" type="button" id="messages-button" data-toggle="collapse" data-target="#messages" aria-expanded="false" aria-controls="messages">Messages</button><br>
                                <div id="messages" style="color:black;width:75%;margin:0 auto" class="list-group shadow-sm p-1 rounded collapse">
                                        <% for(var i=messages.length - 1; i >= 0; i--) { %>
                                        	<a style="color: grey;" href="/show-message/<%= messages[i]._id %>" class="list-group-item list-group-item-action"><%= messages[i].messageText %></a>
                                        <% } %>
                                </div>
			<% } %>
			<br>
			<% if (typeof username != undefined)  { %>
			<% if (username == user.username) { %>
				<button type="button" class="btn btn-link">
					<a href="/profile/<%= user.username %>/edit">
						Edit Profile
					</a>
				</button>
				<button type="button" class="btn btn-link" data-toggle="modal" data-target="#removeUserConfirmation">
					Delete Account
				</button>
				<div class="modal fade" id="removeUserConfirmation" tabindex="-1" role="dialog" aria-labelledby="removeUserConfirmation" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div style="color:black;" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title raleway" id="removeUserConfirmationTitle">Wait a minute...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body raleway">
        Are you sure you want to delete your account?<br>This is permanent.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	<a href="/profile/<%= user.username %>/remove">
        <button type="button" class="btn btn-danger">Delete</button>
	</a>
      </div>
    </div>
  </div>
</div>
			<% } %>
			<% } %>
		</div>
	</body>
</html>
