<html>
	<head>
		<%- include('head'); -%>
	</head>
	<body class="text-center">
		<%- include('nav'); -%>
		<div class="container content-center">
			<div style="margin-top:9em;color:#545454" class="shadow-sm p-4 mb-4 bg-white rounded">
				<h5  class="raleway">From: <%= message.fromUsername %></h5>
            	<p style="word-wrap:break-word"><%= message.messageText %></p>
			</div>
			<br>
			<form action="/message" method="POST">
				<div class="form-group">
					<input type="text" readonly class="form-control" id="toUsername" name="toUsername" value="<%= message.fromUsername %>" required>
				</div>
				<div class="form-group">
					<textarea  type="text" class="form-control" id="messageText" name="messageText" rows="5" required></textarea>
				</div>
				<button type="submit" class="btn btn-light wide-button">Reply</button>
			</form>
			<a href="/remove/message/<%= message._id %>"><button class=" btn btn-danger wide-button">Erase</button></a>
		</div>
	</body>
</html>
