<html>
<head>
<%- include('stylesheets'); -%>
</head>
<body>
<div class="container">
<%- include('nav'); -%>
<br>
<h1>Sign Up</h1>
<% if (typeof errors != 'undefined') { %>
<% for(var i=0; i < errors.length; i++) { %>
	<div class="alert alert-danger" role="alert">
	<%= errors[i].msg %>
	</div>
<% } %>
<br>
<% } %>
<% if (typeof uniqueErrors != 'undefined') { %>
	<% if (typeof uniqueErrors.errors.username != 'undefined') { %>
		<div class="alert alert-danger" role="alert">
			<%= uniqueErrors.errors.username.message %>
			</div>
	<% } %>
	<% if (typeof uniqueErrors.errors.email != 'undefined') { %>
		<div class="alert alert-danger" role="alert">
			<%= uniqueErrors.errors.email.message %>
		</div>
	<% } %>
<br>
<% } %>
<form action="/login/signup" method="POST">
  <br>email:<br>
  <input type="text" id="email" name="email" placeholder="enter your email" required>
  <br><br>
  username:<br>
  <input type="text" id="username" name="username" placeholder="enter your username" required>
  <br><br>
  password:<br>
  <input type="text" id="password" name="password" placeholder="enter your password" required>
  <br><br>
  re enter password:<br>
  <input type="text" id="password2" name="password2" placeholder="re enter your password" required>
  <br><br>
  <button type="submit">Submit</button>
</form>
<p>Already a user? <br>Login <a href="/login">here</a></p>
</div>
</body>
</html>
