<html>
<head>
<%- include('head'); -%>
</head>
<body>
<%- include('nav'); -%>
<div class="container">
<h2 style="margin-top:4em" class="raleway">Update</h2>
<% if (typeof errors != 'undefined') { %>
	<% for(var i=0; i < errors.length; i++) { %>
		<div class="alert alert-danger" role="alert">
			<%= errors[i].msg %>
		</div>
	<% } %>
<% } %>
<% if (typeof uniqueErrors != 'undefined') { %>
	<% if (typeof uniqueErrors.errors.username != 'undefined') { %>
		<div class="alert alert-danger" role="alert">
			<%= uniqueErrors.errors.username.message %>
		</div>
	<% } %>
	<% if (typeof uniqueErrors.errors.email != 'undefined') { %>
		<div class="alert alert-danger" role="alert">
			<%= uniqueErrors.errors.email.message %>
		</div>
	<% } %>
<br>
<% } %>
<form action="/profile/<%= username %>/edit" method="POST">
  	<div class="form-group">
		<label for="firstName">First Name</label>
		<input type="text" class="form-control" id="firstName" name="firstName" value="<%= user.firstName %>" required>
	</div>
  	<div class="form-group">
		<label for="lastName">Last Name</label>
		<input type="text" class="form-control" id="lastName" name="lastName" value="<%= user.lastName %>" required>
  	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="text" class="form-control" id="email" name="email" value="<%= user.email %>" required>
	</div>
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" id="username" name="username" value="<%= user.username %>" required>
	</div>
	<button type="submit" class="btn btn-light">Update</button>
</form>
</div>
</body>
</html>
